*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body{
    background: #f5f5f5;
}
header{
    height: 100px;
    padding-bottom: 120px;
}

.contenedor{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
    width: 220px;
}

.menu nav ul{
    display: flex;

}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: opacity 300ms;
}


.menu nav ul li a:hover{
    opacity: 0.6;
}

.btnRegistrar{
    padding: 14px 50px;
    border: none;
    background: black;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btnRegistrar:hover{
    background: lightblue ;
    color: black;

}

/*principal*/
.main {
    padding: 100px;
    display: flex;
    background-image: url(/recursos-graficos/mano-bombilla.jpg);
    background-position: right;
    background-size: 1200px;
    background-repeat: no-repeat;
    margin: 20px;
}

 .main-texto{
    align-items: center;
    color: #f5f5f5;
 }
  
  .main-texto h1 {
    font-size: 40px;
 /* Cambia de absolute a relative */
    height: 100%;
    left: 10px;
  }

   .main:hover span{
    transition: 1s;
    color: #f2cd00;
  }
  
  .main-imagen{
    align-items: center;
    
  }
  
  .main-imagen img {
    width: 300px;
    margin-left: 800px;
  }
  
/*cuerpo*/
.acerca{
padding-top: 90px;
float: left;
max-width: 40%;
text-align: center;
margin: 0px 30px;
}
.acerca p{
  line-height: 50px;
}

.acerca h1{
  padding-bottom: 20px;
}

.imgn img{
  width: 500px;
  float: right;
  margin-right: 120px; 
}

.imgn2{
  padding-top: 400px;
}
.imgn2 img{
  width: 400px;
  float: left;
  margin-left: 70px;
}

.mision{
  padding-top: 80px;
  float: right;
  max-width: 40%;
  text-align: center;
  margin: 0px 100px;
}

.mision p {
  line-height: 50px;
}

.mision h1{
  padding-bottom: 20px;
}

.equipo{
  margin-top: 450px;
  padding-bottom: 50px;
  
}

.equipo h2{
  text-align: center;
  padding-bottom: 60px;
  
}


.equipoS ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content:space-around;

}


.equipoS img{
  width: 100px;
}


.image-container {
  display: flex;
}

.image-wrapper {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.image-container img{
  width: 150px;
}

.caption {
  margin-top: 10px;
}


#justificacion{
  color: lightgray;
  font-size: 10px;
  text-align: center;
}




/*footer*/
.pie{
    width: 100%;
    background: #23242a;
    
    }
    
    .pie .grupo{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 45px 0px;
    }
    
    
    .pie .grupo .box figure{
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    .pie .grupo .box figure img{
      width: 240px;
    }
    
    .pie .grupo .box p a{
      text-decoration: none;
      display: block;
      margin-top: 20px;
      color: white;
      font-size: 12px;
      font-weight: bold;
      transition: color 300ms;
      text-align: center;
    }
    
    .pie .grupo .box p a:hover{
      color: lightblue;
    }
    
    .pie .grupo .box h2{
      text-align: center;
      font-size: 16px;
      color: #f5f5f5;
    }